
    @media (max-height: 800px){

         p{font-size: 10px;}
         
        }


    body {
        
        background: linear-gradient(75deg, hsl(199, 77%, 53%), hsl(198, 51%, 18%));

        }
    
    h1 {   
        

        font-size:35px;
        color: rgba(219, 219, 51, 1);
        text-align: center;  
        font-family:'monospace', Courier, monospace; 
        
   
    }



    p {

        font-size: 35px;
        color: rgb(1, 243, 1);
        text-transform: uppercase;
        text-align: center;
        

    }

    ul {

        background: white;
        color: green;
        list-style-type:upper-roman;
        list-style-position:inside;
        padding: 10px 10px;
        margin: 10px 10px;
        border: groove;
        border-width: 20px 20px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.5);

        z-index: 1
        
    }
    
    li {

        text-align: center;
        font-size: 30px;
        

    }

    hr {

       
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 8px;
        border-color: rgba(32, 209, 194, 0.815);

    }
    

    figure {
    
        color: yellow;
        text-align: center;
        margin: default;
        font-size: 20px
        
        }

    figcaption {
       
        font-size: large;

    }

    .fixedbox {
    
        font-size: 30px;
        
        position: fixed;
        right: 0%;
        background:aliceblue;
        border: groove;
        border-width: 10px 10px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
        
        z-index: 2
        
    }


    
    .videoBorder {

        margin: 10px 10px 10px 10px;
        border-width: 10px 10px 10px 10px;
        border-style: groove;
        border-color: rgb(201, 189, 19);
        border-radius: default;
    }



    #audiorelative{

    
    right:10%;

    }

    li:hover { 

        color: red;

    }

    ul:hover{

        background-color:aqua;

        
    }

    .fixedbox:hover{

        color:green;
        background-color: yellow;
        border-color: red;
  
    }

    .fixedbox:hover:after{

        content:" I should be on top of everything elst";
        
    }

    .sectionh {
        color:yellow;
        background-color: gray;
        height: 800px;
        width: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content:space-around;
        align-items:center;
    }

    .sectionh1{

        background: black;
        width:300px ;
        height:100px;
        font-size:20px;
        
        
    }
    .sectionh2{

        background: green;
        width:300px ;
        height:100px;
        font-size:20px;
        
    }
    .sectionh3{

        background: red;
        width:300px ;
        height:100px;
        font-size:20px;
        
    }
